<footer class="footer" style="padding:20px;margin-bottom:30px;display:flex;background-color:#d6355e;color:#222">
    <h3 class="footer__text" style="font-size: 25px; margin: 0 auto; color: #fff">No pain no gain, just do it!</h3>
</footer>