<header class="header" style="padding:20px;margin-bottom:30px;display:flex;background-color:#d6355e;color:#222">
    <h3 class="header__logo__title" style="font-size: 25px; margin: 0 auto; color: #fff">Gympoint</h3>
</header>