  <div class="container" style="color:#000"></div>
    <strong class="container__greeting" style="font-size: 16px;"> Hello {{student}} ✌️ </strong>
    <br>
    <h3 class="container__informations__title"> Here are the informations about your help order </h3>

    <div class="container__informations" style="font-size: 14px; color:#000">

        <p style="color:#000"> <span style="color: #d6355e;font-weight:bold;">Question:</span> {{question}}</p>
        <p> <span style="color: #d6355e;font-weight:bold;">Answer:</span> {{answer}}</p>
        <hr>
        <p style="color:#000"> <span style="color: #d6355e;font-weight:bold;">Answer at:</span> {{answer_at}}</p>
        <hr>

        <p class="container__informations__help-order"> 
          Feel free to send a help order if you have some doubt. 
          Our instructors will be glad to help you 
        </p>
    </div>
  </div>
