  <div class="container" style="color:#000">
    <strong class="container__greeting" style="font-size: 16px;"> Hello {{student}} </strong>
    <p class="container__greeting--msg" style="font-size: 16px;"> Your fitness journey begins here </p>
    <h3 class="container__informations__title"> Here are the informations about your registration </h3>
    <div class="container__informations" style="font-size: 14px; color:#000; padding: 10px; border: 1px dashed black;">

        <p style="color:#000"> <span style="color: #d6355e;font-weight:bold;">Start date:</span> {{start_date}}</p>
        <p style="color:#000"> <span style="color: #d6355e;font-weight:bold;">End date:</span> {{end_date}}</p>
        <hr>
        <p style="color:#000"> <span style="color: #d6355e;font-weight:bold;">Price:</span> {{price}}</p>
        <hr>

        <p class="container__informations__help-order"> 
          Feel free to send a help order if you have some doubt. 
          Our instructors will be glad to help you 
        </p>
    </div>
  </div>
